@{
    ViewBag.Title = "LogOn";
}

<h1>LogOn</h1>

<br />
<br />
<table>
    <tr>
        <td>
            <label for="login">Login</label>
        </td>
        <td>
            @Html.Editor("login")
        </td>
    </tr>
    <tr>
        <td>
            <label for="pass">Password</label>

        </td>
        <td>
            @Html.Password("password")
        </td>
    </tr>
    <tr>
        <td colspan="2">@Html.ActionLink("LogOn","Account","DoLog")</td>
    </tr>





</table>
